/* Core variables */
@import "base/vars";

/* CSS Normalize */
@import "base/normalize";

/* Fonts */
@import "base/fonts";

/* Components */

/* Browser specific styles */
@import "dirty/hacks";

html {
  box-sizing: border-box;
  font-family: Roboto;
  background-color: mintcream;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul {
  padding: 0;
  list-style: none;
}

//reset style buttons
button {
  background: none;
  appearance: none;
  -webkit-appearance: none;
  -ms-progress-appearance: none;
  -ms-progress-appearance: none;
  border: none;
  cursor: pointer;
}

/* Контейнер */
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px 40px 0 40px;
}

.home-page {
  text-decoration: none;

  &::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    // background-color: red;
    background: url(../images/design/HOME.svg) no-repeat;
    background-size: 40px;
  }
}

/* header style */
@import "components/header";

/* main style */
@import "components/main";

/* Buttons style */
@import "components/buttons";
/* Breakpoints */
// @import 'breakpoints/touch';

@import "components/form";
@import "components/preloader";
